{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
  <title>My Website</title>
</head>

<body>

  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            <h1><span>B</span>U<span>DDY</span></h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="{% url 'index' %}" data-after="Home">Home</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="hero">
    <div class="hero container">
      <div>
        <h1>Your <span></span></h1>
        <h1>Assistant is  <span></span></h1>
        <h1>Running <span></span></h1>
        <a href="{% url 'index' %}"  type="button" class="cta">Click to Stop</a>
      </div>
    </div>
  </section>
</body>